exclude: tests/cases/(refactor|source).*

repos:
  - repo: https://github.com/psf/black
    rev: 22.6.0
    hooks:
      - id: black
        args: [--line-length=79]

  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort

  - repo: https://github.com/hakancelikdev/unimport
    rev: 0.9.6
    hooks:
      - id: unimport
        args: [--remove, --include-star-import]

  - repo: https://github.com/PyCQA/docformatter
    rev: v1.4
    hooks:
      - id: docformatter
        args: [--in-place]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.961
    hooks:
      - id: mypy
        args: [--no-strict-optional, --ignore-missing-imports, --show-error-codes]
        additional_dependencies: [types-toml==0.1.3]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        args: [--prose-wrap=always, --print-width=88]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: end-of-file-fixer
        files: "\\.(py|.txt|.yaml|.json|.in|.md|.toml|.cfg|.html|.yml)$"

  - repo: https://github.com/asottile/pyupgrade
    rev: v2.37.1
    hooks:
      - id: pyupgrade
        args: [--py36-plus]

  - repo: https://github.com/hakancelikdev/pyall
    rev: 0.2.0
    hooks:
      - id: pyall
        args:
          - --refactor
          - --exclude=tests|setup.py|__init__.py|
