name: build-docs
on:
  push:
    branches:
      - master
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: actions/setup-python@v2.1.4
        with:
          python-version: "3.8"
          architecture: "x64"

      - name: Install  Dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -e .[docs]

      - name: Build Docs
        run: |
          git fetch --all 
          mkdocs gh-deploy -m "Update Docs" --remote-branch gh-pages
